.not-found {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 5rem;
        color: #FF6060;
        text-align: center;
        margin: 0;
        @media screen and (min-width: 1024px) {
            font-size: 18rem;
        }
    }
    &-description {
        color: #FF6060;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        text-align: center;
        @media screen and (min-width: 1024px) {
            font-size: 2.25rem;
        }
    }
    &-link {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        line-height: 142.6%;
        display: flex;
        align-items: flex-end;
        color: #FF6060;
        margin: 100px 0 0 0;
        @media screen and (min-width: 1024px) {
            font-size: 1.125rem;
        }
    }
}