.not-found {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 5rem;
        color: #FF6060;
        text-align: center;
        margin: 0;
    }
    &-description {
        color: #FF6060;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
    }
    &-link {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        line-height: 142.6%;
        display: flex;
        align-items: flex-end;
        color: #FF6060;
    }
}