.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
        display: block;
        object-fit: contain;
        width: 100px;
    }
    &-menu {
        list-style-type: none;
        margin: 0;
        &-item-link {
            color: #FF6060;
            text-transform: uppercase;
            margin: 0 0 0 20px;
            font-size: 0.75rem;
            font-weight: 500;
            font-family: "Montserrat", sans-serif;
            text-decoration: none;
            outline: none;
            &[data-active=true] {
                text-decoration: underline;
            }
        }
    }
}