.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
        display: block;
        width: 40%;
    }
    &-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        &-item-link {
            margin: 0 0 0 10px;
            color: #FF6060;
            text-transform: uppercase;
            font-size: 0.75rem;
            font-weight: 500;
            font-family: "Montserrat", sans-serif;
            text-decoration: none;
            outline: none;
            &[data-active=true] {
                text-decoration: underline;
            }
        }
    }
}